test/build/*
cr/build/*
bft-cr/build/*
rf/build/*
alc/build/*
eRPC
dpdk*
dependencies
digital_signatures/*.out
**/**/bench
**/**/openssl
**/**/client
**/**/server
**/build
**/sgx_with_persistency_log.txt
